:root {
    --console--color: #12C258;
    --consolebackground--color: #0e6b0e;
    --command--color: #E37BD9;
    --error--color: #DA2700;
    --background--color: #201F1E;
    --text--color: #EFEFEF;
    --message--color: #518BFC;
}
/* START - FONTS */
@font-face {
    font-family: primary;
    src: url(fonts/advanced-pixel-7.ttf);
}
/* END - FONTS */
/* START - Responsive font size with REM */
html {
    font-size: 100%;
    background-color: var(--background--color);
    box-sizing: border-box;
    font-family: primary;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 920px) {
    html {
        font-size: 75%;
        }
}

@media (max-width: 480px) {
    html {
    font-size: 62.5%;
    }
}
/* END - Responsive font size with REM */

.body {
    width: 90%;
    margin: auto;
}

.header__title {
    font-size: 6rem;
    color: var(--consolebackground--color);
}

.header__title--icon {
    font-size: 10rem;
    color: var(--console--color);
}

.header__title--version {
    font-size: 4rem;
    color: var(--error--color);
}

/* START - GRID */

.main--grid{
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 1rem;
    font-size: 3rem;

}

@media (max-width: 920px) {
    .main--grid{
        grid: 1fr / 1fr;
    }
}

/* START - LEFT */

.left__instructions {
    color: var(--message--color);
    font-size: 3rem;
}

.left__instructions--span {
    color: var(--console--color);
    font-size: 3rem;

}

.left__textarea {
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
    border: 1px solid var(--console--color);
    color: var(--console--color);
    background-color: transparent;
    caret-color: var(--console--color);
    padding: 1rem;
    width: 100%;
    height: 20rem;

}

.left__warning {
    color: var(--command--color);
    font-size: 2rem;
    margin: 0;
}

.left__buttons {
    width: 100%;
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center;
    margin: 1rem auto;
}

.left__buttons--encrypt,
.left__buttons--decrypt {
    width: 80%;
    font-size: 2rem;
    border: 2px inset black;
    color: var(--text--color);
}

@media (max-width: 480px) {
    .left__buttons--encrypt,
    .left__buttons--decrypt {
    width: 90%;
    grid-template-columns: 20% 80%;
}
}

.left__buttons--encrypt {
    background-color: var(--consolebackground--color);
}
.left__buttons--encrypt--span{
    color: var(--error--color);
}

.left__buttons--decrypt {
    background-color: var(--error--color)
}

.left__buttons--decrypt--span{
    color: var(--console--color);
}
/* END - LEFT */
/* START - RIGHT */
.right--container {
    background-color: #0e6b0e;
    width: 100%;
    height: 100%;
    border: 2px solid var(--console--color);
}

.right__instructions {
    display: block; /* TO BE DELETED IN JAVASCRIPT */
}

.right__instructions__image--container {
    width: 20rem;
    margin: auto;
}

.right__instructions__image--src {
    width: 100%;
    margin: auto;
}

.right__instructions__messages {
    margin: 0 1rem;
}
.right__instructions__messages--message {
    display: flex;
    gap: 2rem;
    font-size: 4rem;
    color: var(--console--color);
}

.right__instructions__messages--message--error {
    color: var(--error--color);
    width: 8rem;
}

.right__instructions__messages--message--user {
    color: var(--command--color);
    width: 8rem;
}

.right__instructions__messages--message--error,
.right__instructions__messages--message--user,
.right__instructions__messages--message--instruction {
    margin: 0;
}

.right__response {
    display: none; /* TO BE DELETED IN JAVASCRIPT */
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.right__response--response {
    width: 100%;
    height: 80%;
    margin: auto;
    resize: none;
    border: none;
    color: var(--console--color);
    background-color: transparent;
    text-align: left;
}

.right__response--copy {
    width: 40%;
    font-size: 2rem;
    margin: 1rem auto;
    border: 2px inset black;
    color: var(--text--color);
    background-color: var(--message--color);
    display: block;
}