:root {
    --console--color: #12C258;
    --consolebackground--color: #0e6b0e;
    --comand--color: #E37BD9;
    --error--color: #DA2700;
    --background--color: #201F1E;
    --text--color: #EFEFEF;
    --message--color: #518BFC;
}

@font-face {
    font-family: titles;
    src: url(fonts/nintendo-ds-bios.ttf);
}
@font-face {
    font-family: primary;
    src: url(fonts/advanced-pixel-7.ttf);
}
body {
    color: var(--text--color);
    background-color: var(--background--color);
    font-family: primary;
}
.title {
    font-family: primary;
    font-size: 4rem;
    color: var(--console--color);
    text-align: center;
}

.title span {
    color: var(--error--color);
}
/*  body */
.flex {
    width: 100%;
    margin: 0 ;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;

}

.user {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    margin: 1rem;
    justify-content: center;
}
/* [1]flex-grow Property / [1]flex-shrink Property / [60%]flex-basis Property
[1] Crecera 1 graccion de su tamaño [1] se encojera 1 fraccieon de su tamaño / [60%]Longitud inicial del item flexible*/

.instructions {
    color: #518BFC;
    font-size: 2rem;
}
.instructions span {
    color: var(--comand--color);
    font-size: 2rem;
}
.text {
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
    border: 1px solid var(--console--color);
    color: var(--console--color);
    background-color: transparent;
    caret-color: var(--console--color);
    padding: 1rem;
    font-size: 2rem;
}

.warning {
    color: var(--comand--color);
    font-size: 2rem;
}



/* botones */
.buttons {
    width: 100%;
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center;
    padding: 1rem;
    margin: auto;
}
.button--encrypt,
.button--decrypt {
    width: 80%;
    padding: 0rem;
    font-size: 2rem;
    border: 2px inset black;
    color: var(--text--color);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    place-items: center;
}

.button--encrypt {
    background-color: var(--consolebackground--color);
}
.button--encrypt span{
    color: var(--error--color);
}

.button--decrypt {
    background-color: var(--error--color)
}

.button--decrypt span{
    color: var(--console--color);
}

.button--encrypt span,
.button--decrypt span {
    font-size: 4rem;
    margin: 0 0 0 100%;
}

/* Nonresolved */
.encripted {
    flex: 1 1 30%;
    margin: auto;
    padding: 1rem;
}

.encripted__containter {
    background-color: var(--consolebackground--color);
    padding: 1rem;
    height: 40rem;
    border-radius: 8px;
    font-size: 2rem;
    margin: auto;
}

.non__resolved {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.non__resolved--image {
    width: 50%;
    margin: 0 auto;
}

.non__resolved--image--src{
    width: 100%;
    margin: auto;
}

.encripted__info {

}


.non__resolved--title,
.non__resolved--message {
    margin: 0;
    font-size: 3rem;
    display: grid;
    grid: 1fr / 25% 75%;
}
.non__resolved--title {
    color: var(--console--color);
}

.non__resolved--message {
    color: var(--console--color);
}

.non__resolved--title span{
    color: var(--error--color);
    text-align: left;
    font-size: 3rem;
}

.non__resolved--message span{
    color: var(--comand--color);
    text-align: left;
    font-size: 3rem;
}

@media (max-width: 480px) {
.non__resolved--title,
.non__resolved--message,
.non__resolved--title span,
.non__resolved--message span{
    font-size: 2rem;
}
}
/* 
Para el texto:
https://css-tricks.com/almanac/properties/c/caret-shape/ 
*/